
/*google font import start*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*below 3 google fonts used*/
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/

/*global css seciton */
*{
	margin: 0;
	padding: 0;
}
/*header css seciton start here*/
header{
	width: 100%;
	display: flow-root;
	background: url(../image/banner.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
a,a:hover{text-decoration: none;}
.cointainer{
	width: 1140px;
	margin: 0 auto;
}
.header-box{
	width: 100%;
	float: left;
	padding: 25px 10px;
}
.logo{
	width: 30%;
	float:left;
}
.menu-item{
	width: 70%;
	float:right;
	text-align: right;
} 
.contact-no img{
	vertical-align: middle;
}
.contact-no span{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #3d2514; 
	vertical-align: middle;
	transition: .5s;
}
.contact-no span:hover{
	color: white;
	transform: scale(1.04);
	transition: .5s;
	vertical-align: middle;
	cursor: pointer;
}
/*.main-manu ul li a{
	text-decoration: none;
}*/
.main-manu ul li {
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}
.main-manu ul{
	padding: 18px 0;
}
.main-manu ul li a{
	font-family: 'Bebas Neue', cursive;
	font-weight: 700;
	color: #3d2514;
	letter-spacing: 4px;
	font-size: 18px;
}
/*banner css part start*/
.banner{
	width: 100%;
	float: left;
}
.banner-left{
	width: 50%;
	float:left;
	
}
.banner-right{
	width: 50%;
	float: right;
}
.left-cointain{
    height: 80vh;	
	display: table-cell;
	vertical-align: middle;
}
.left-cointain p{
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	color: #3d2514;
    font-size: 18px;
    border: 2px dashed black;
    padding: 10px;
    display: inline-block;
}

.left-cointain h1{
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	font-size: 80px;
	color: #3d2514;
	letter-spacing: 4px;
    text-shadow: 3px 4px #fee8bb;
}
.left-cointain h2{
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	font-size: 55px;
	color: #3d2514;
	letter-spacing: 4px;
    text-shadow: 3px 4px #fee8bb;
}
.right-cointain{
	height: 80vh;
	display: table-cell;
	vertical-align: middle;
	
}
.burger-price{
	position: relative;
}

.right-cointain img{
	background-image: transparent;
}
.right-cointain .circle{
    width: 120px;
    height: 120px;
    background: red;
    line-height: 120px;
    text-align: center;
    border-radius: 100%;
    color: white;
    position: absolute;
    left: 23px;
    bottom: 112px;
    position:relative;
}

.right-cointain .circle .inner-circle{
    width: 100px;
    height: 100px;
    background: red;
    line-height: 100px;
    text-align: center;
    border-radius: 100%;
    color: white;
    border: 2px dashed;
    position: absolute;
    left: 9px;
    bottom: 9px;
}
.right-cointain .circle h1 span{
    font-size: 20px;
}
/*Section css start here*/
section{
	width: 100%;
	display: flow-root;	
}
.section-box{
	width: 100%;
	float: left;
	/*padding-top: 70px;*/

}
.section-box-full{
	width: 100%;
	float: left;
	font-family: 'Bebas Neue', cursive;
	font-weight: 300;
	color: white;
	font-size: 22px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.seciton-left{
	width: 49%;
    float: left; 
    /* margin-top: 50px;*/
}
.section-right{
    width: 49%;
    float: right;
        /*margin-top: 50px;*/  
}

.sec-left-cointain{
	height: 80vh;
	display: table-cell;
	vertical-align: middle;
	
}
.sec-right-cointain{
	height: 80vh;
	display: table-cell;
	vertical-align: middle;
}

.left-mid{
	position: relative;	
	}
.most-popu{
	position: absolute;
  	top: 25px;
    left: 20px;
}
.sec-right-cointain	img{
	
	}
.right-up{
		position: relative;
}
.more-fun{
	position: absolute;
  	top: 25px;
    left: 20px;
	}

.sec-right-cointain .img-2{
	 margin-top: 20px;
}
.right-down{
	position: relative;
}
.frsh-child{
	position: absolute;
	top:25px;
	left: 20px;
}
.alway-testy-burger{
	text-align: center;
}
.alway-testy-burger button{
	width: 200px;
    height: 50px;
    font-family: 'Bebas Neue', cursive;
	font-weight: 700;
	color: #3d2514;
    font-size: 22px;
    text-transform: uppercase;
    background: #ffc045;
    color: #3d2514;
    transition: .5s;
  }
.alway-testy-burger button:hover{
	cursor: pointer;
	background: transparent;
	color: #ffc045;
	transition: .5s;
	/*transform: scale(1.1);*/ 
}
/*Display css start */
.display-itmes{
	width: 100%;
	float: left;
}
.display-header{
	width: 100%;
	float: left;
}
.display-header h1{
	
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200px;
    color: #3d2514;
    letter-spacing: 2px;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 20px;
}
.display-header p{
	text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 14px;
    margin: 10px auto; 
}
.display-body{
	width: 100%;
	float: left;
	text-align: center;

}
.contain-left{
	width: 33%;
	height: 50vh;
	display: table-cell;
	vertical-align: middle;
}
.contain-left h1{
	font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    letter-spacing: 3px;
    font-size: 30px;
    text-transform: uppercase;
}
.contain-left p{
    font-family: 'Alfa Slab One', cursive;
    font-size: 15px;
	color: #3d2514;
	margin: 10px auto;
}
.contain-left .order-button button{
	width: 175px;
	height: 60px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	background: red;
	transition: .5s;
}
.order-button button:hover{
	cursor: pointer;
	color: #ffc045;
	transform: scale(0.95);
	transition: .5s;
}
.contain-middile{
	width: 33%;
	height: 50vh;
	display: table-cell;
	vertical-align: middle;
}
.contain-middile h1{
	font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    letter-spacing: 3px;
    font-size: 30px;
    text-transform: uppercase;
}
.contain-middile p{
font-family: 'Alfa Slab One', cursive;
    font-size: 15px;
	color: #3d2514;
	margin: 10px auto;
}
.contain-middile button{
	width: 175px;
	height: 60px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	background: red;
	transition: .5s;
}
.contain-middile button:hover{
	cursor: pointer;
	color: #ffc045;
	transform: scale(0.95);
	transition: .5s;
}
.contain-right{
	width: 33%;
	height: 50vh;
	display: table-cell;
	vertical-align: middle;
}
.contain-right h1{
	font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    letter-spacing: 3px;
    font-size: 30px;
    text-transform: uppercase;
}
.contain-right p{
	font-family: 'Alfa Slab One', cursive;
    font-size: 15px;
	color: #3d2514;
	margin: 10px auto;
}
.contain-right button{
	width: 175px;
	height: 60px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	background: red;
	transition: .5s;
}
.contain-right button:hover{cursor: pointer;
	cursor: pointer;
	color: #ffc045;
	transform: scale(0.95);
	transition: .5s;
}
/*Slider css start here*/

.slider-box{
    width: 94%;
	display: flow-root;
	padding: 55px;
        
   /* box-shadow: 9px 4px 8px 6px #dedede;
   padding: 70px 30px;*/
}
.sider-box-cointain{
	width: 96%;
	float: left;
	display: flow-root;
    box-shadow: 9px 4px 8px 6px #dedede;
    padding: 20px;
}
.slider-left{
	width: 46%;
	float: left;
}
.slider-right{
	width: 50%;
	float: right;
}
.slider-cointain{
	width: 100%;
	float: left;
    padding: 30px;

}
.slider-cointain .sub-titile{
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	font-size: 18px;
    letter-spacing: 2px;
    color: #3d2514;
}
.slider-cointain h1{
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
     color: #3d2514;
}
.slider-cointain .descript{
	font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	font-size: 15px;
	padding-top: 15PX;
}
.owl-nav{
	display: none;
}
.owl-dots{
	    position: absolute;
    left: 19px;
    bottom: 1px;
}
.owl-theme .owl-dots .owl-dot span{
	background: #ffc045 !important;
}

/*reservation css start here*/
.reservation{
	width: 98%;
	display: flow-root;
    margin: 10px 13px;
	background: url(../image/burder-s.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.res-head{
	text-align: center;
	text-transform: uppercase;
	color: #3d2514;
    margin: 30px;
}
.res-head p{
	font-family: 'Alfa Slab One', cursive;
	letter-spacing: 2px
}
.res-head h1{
	font-family: 'Bebas Neue', cursive;

    font-weight: 800;
      font-size: 43px;
    letter-spacing: 2px;
}
.res-form{
	width: 680PX;
    height: 210PX;
    padding: 40px 200px
}

input {    
	padding: 18px 50px;
    margin-bottom: 18px;
    color: #9a9aa4;
    width: 230px;
    border: none;
    border: 1px solid #e1e1e1;
}
}
	input:focus{
		outline-color: red;
	}
	.reservationbtn{
        width: 330px;
	   	font-family: 'Alfa Slab One', cursive;
	    font-size: 14px;
		text-transform: uppercase;
		color: white;
		background: red;
		transition: .5s;
	} 
	.reservationbtn:hover{
		color: green;
		transform: scale(0.95);
		transition: .5s;
	}

	/*fotter css code start here*/

 .fotter{
	width: 98%;
	display: flow-root;
    margin: 10px 13px;
	background: url(../image/bottom.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
 }
 .fotter-full{
 	width: 100%;
	float: left;
 }
 .fotter-header-box{
	width: 100%;
    float: left;
}
.fotter-logo{
	width: 100%;
    float: left;
    padding-top: 35px;
}
.fotter-banner{
	width: 100%;
	float: left;
}
.fotter-banner-left{
	width: 50%;
	float:left;
}
.fotter-left-cointain{
    width: 100%;
    float: left;
    padding: 45px 0;
    position: relative;
}
.fotter-left-cointain p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #3d2514;
    font-size: 16px;
    color: white;
    margin-bottom: 275px;
}

.fotter-left-cointain h1{
	font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.fotter-left-cointain p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #3d2514;
    font-size: 16px;
    color: white;
    margin-bottom: 330px;
}

.fotter-left-cointain h1{
	font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.inner-icon{
 	position: absolute;
    left: -22px;
    bottom: 49px;
}
.inner-icon ul li{
	list-style: none;
	text-align: center;
}
.inner-icon ul li a i{
	color: white;
    font-size: 18px; 
}
.fotter-banner-right{
	width: 50%;
	float:right;
	
}
.fotter-right-cointain{
	width: 100%;
	float:right;
}
.icon{
	width: 100%;
	float:right;
}
.fotter-right-cointain{
	position: relative;
}
.fotter-right-cointain h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
     padding-top: 72px;
    padding-bottom: 13px;
    padding-left: 315px;
}
.fotter-right-cointain h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
	padding-left: 315px;
   
}
.icon {
	position: absolute;
    top: 70px;
}
.icon ul li{
	list-style: none;
	text-align: center;
}
.icon ul li a i{
	color: white;
	font-size: 30px;
	padding-bottom: 10px;
	transition: .5s;
}
.icon ul li a i:hover{
	color: #ffc045;
     transition: .5s;
     transform: scale(1.06);
}

.socialicon{
    width: 100%;
    float: right;
    position: absolute;
    left: 380px;
    bottom: -335px;
}


.socialicon ul li {
   	list-style: none;
   	text-align: center;
	display: inline-block;
	padding-left: 10px
}
.socialicon ul li a i{
    height: 40px;
    width: 40px;
    margin-top: 30px;
    color: black;
    background: white;
    line-height: 40px;
    border-radius: 50%;
    font-size: 22px;
    transition: .5s;
}
.socialicon ul li a i:hover{
	color: white;
    background: #ffc045;
     font-size: 25px;
     transform: scale(1.06);
     transition: .5s;
}
